<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zhiyuanzhe.dao.AdminDao">
     <resultMap id="adminResultMap" type="zhiyuanzhe.pojo.AdminInfo">
         <id column="admin_id" property="adminId"/>
         <result column="admin_carID" property="adminCarID"/>
         <result column="admin_tel" property="adminTel"/>
         <result column="admin_loginName" property="adminLoginName"/>
         <result column="admin_pwd" property="adminPwd"/>
         <result column="admin_state" property="adminState"/>
         <result column="key" property="key"/>
     </resultMap>
    <sql id="baseSql">
        select * from admin_info
    </sql>
     <select id="findAll" resultMap="adminResultMap" resultType="java.util.ArrayList">
         <include refid="baseSql"/>
     </select>
     <select id="findAdmin" resultMap="adminResultMap">
         select * from admin_info
        <where>
            <if test="adminId!=0">admin_id=#{adminId}</if>
            <if test="adminLoginName!=null">and admin_loginName=#{adminLoginName}</if>
            <if test="adminPwd!=null">and admin_pwd=#{adminPwd}</if>
        </where>
     </select>
    
     <insert id="addAdmin">
         insert into admin_info values (null,#{adminCarID},#{adminTel},#{adminLoginName},#{adminPwd},#{adminState},#{key})
     </insert>

     <delete id="deleteAdmin">
         delete from admin_info where admin_id=#{adminId}
     </delete>

     <update id="updateAdmin">
         update admin_info
         <trim prefix="set" suffixOverrides=",">
             <if test="adminCarID!=null">admin_carID=#{adminCarID},</if>
             <if test="adminTel!=null">admin_tel=#{adminTel},</if>
             <if test="adminLoginName!=null">admin_loginName=#{adminLoginName},</if>
             <if test="adminPwd!=null">admin_pwd=#{adminPwd},</if>
             <if test="adminState!=null">admin_state=#{adminState}</if>
         </trim>
         where admin_id=#{adminId}
     </update>
</mapper>
