<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zhiyuanzhe.dao.TeamDao">
    <resultMap id="teamResultMap" type="zhiyuanzhe.pojo.TeamInfo">
        <id column="team_id" property="teamId"/>
        <result column="team_name" property="teamName"/>
        <result column="team_startData" property="teamStartData"/>
        <result column="team_peopleNum" property="teamPeopleNum"/>
        <result column="team_helpTime" property="teamHelpTime"/>
        <result column="team_state" property="teamState"/>
        <result column="team_nowNum" property="teamNowNum"/>
        <result column="img" property="img"/>
        <association property="teamTypeInfo" column="teamType_id" jdbcType="INTEGER" javaType="zhiyuanzhe.pojo.TeamTypeInfo">
            <id column="teamType_id" property="teamTypeId"/>
            <result column="teamType_name" property="teamTypeName"/>
            <result column="teamType_state" property="teamTypeState"/>
        </association>

        <association property="userInfo" column="user_id" jdbcType="INTEGER" javaType="zhiyuanzhe.pojo.UserInfo">
            <id column="user_id" property="userId" />
            <result column="user_name" property="userName" />
            <result column="user_cardId" property="userCardId"/>
            <result column="user_tel" property="userTel"/>
            <result column="user_email" property="userEmail"/>
            <result column="user_loginName" property="userLoginName"/>
            <result column="team_name" property="teamName"/>
            <result column="user_pwd" property="userPwd"/>
            <result column="user_helpTime" property="userHelpTime"/>
            <result column="active_joNum" property="activeJoNum"/>
            <result column="team_name" property="teamName"/>
            <result column="key" property="key"/>
            <result column="img" property="img"/>
            <result column="user_state" property="state"/>
            <association property="teamJobInfo" column="teamJob_id" jdbcType="INTEGER" javaType="zhiyuanzhe.pojo.TeamJobInfo">
                <id column="teamJob_id" property="teamJobId" />
                <result column="teamJob_name" property="teamJobName"/>
                <result column="teamJob_state" property="teamJobState"/>
            </association>
        </association>
    </resultMap>

    <select id="findTeamList" resultMap="teamResultMap" resultType="java.util.ArrayList">
        select * from team_info t left join teamtype_info te on t.teamType_id=te.teamType_id
                                  left join user_info u on t.user_id=u.user_id
                                  left join teamjob_info tj on u.teamJob_id=tj.teamJob_id
        where t.teamType_id=#{teamTypeId}
    </select>

    <select id="buttonFindTeamList" resultMap="teamResultMap" resultType="java.util.ArrayList">
        select * from team_info t left join teamtype_info te on t.teamType_id=te.teamType_id
                                  left join user_info u on t.user_id=u.user_id
                                  left join teamjob_info tj on u.teamJob_id=tj.teamJob_id WHERE t.team_name like concat('%',#{date},'%') OR u.user_name like concat('%',#{date},'%') OR te.teamType_name like concat('%',#{date},'%');
    </select>

    <select id="findTeamMessageByTeamName" resultMap="teamResultMap" resultType="java.util.ArrayList">
        select * from team_info t left join teamtype_info te on t.teamType_id=te.teamType_id
                                  left join user_info u on t.user_id=u.user_id
                                  left join teamjob_info tj on u.teamJob_id=tj.teamJob_id
        where t.team_name=#{teamName}
    </select>

    <select id="findTeamByUserId" resultMap="teamResultMap" resultType="java.util.ArrayList">
        select * from team_info t left join teamtype_info te on t.teamType_id=te.teamType_id
                                  left join user_info u on t.user_id=u.user_id
                                  left join teamjob_info tj on u.teamJob_id=tj.teamJob_id
        where u.user_id=#{userId}
    </select>
    <select id="findAllTeam" resultMap="teamResultMap" resultType="java.util.ArrayList">
        select * from team_info t left join teamtype_info te on t.teamType_id=te.teamType_id
                                  left join user_info u on t.user_id=u.user_id
                                  left join teamjob_info tj on u.teamJob_id=tj.teamJob_id    order BY t.team_helpTime desc
    </select>

    <select id="findTeamByGrade" resultMap="teamResultMap" resultType="java.util.ArrayList">
        select * from team_info t left join teamtype_info te on t.teamType_id=te.teamType_id
                                  left join user_info u on t.user_id=u.user_id
                                  left join teamjob_info tj on u.teamJob_id=tj.teamJob_id  WHERE te.teamType_name=#{grade} order BY t.team_helpTime desc
    </select>
    
    <select id="findTeam" resultMap="teamResultMap">
        select * from team_info t left join teamtype_info te on t.teamType_id=te.teamType_id
                                  left join user_info u on t.user_id=u.user_id
                                  left join teamjob_info tj on u.teamJob_id=tj.teamJob_id
        <where>
            <if test="teamId!=0">t.team_id=#{teamId}</if>
            <if test="teamName!=null">and t.team_name=#{teamName}</if>
            <if test="teamHelpTime!=0">and t.team_helpTime=#{teamHelpTime}</if>
        </where>
    </select>

    <delete id="deleteTeam">
        delete from team_info where team_id=#{teamId}
    </delete>

    <insert id="addTeam">
        insert into team_info values (null ,#{teamName},current_date ,1,0,
                                      4,#{userInfo.userId},#{teamState},0,#{img})
    </insert>

    <update id="updateTime">
        update team_info
        <trim prefix="set" suffixOverrides=",">
            <if test="teamName!=null">team_name=#{teamName},</if>
            <if test="teamPeopleNum!=0">team_peopleNum=#{teamPeopleNum},</if>
            <if test="teamHelpTime!=0">team_helpTime=#{teamHelpTime},</if>
            <if test="teamTypeInfo!=null">teamType_id=#{teamTypeId}</if>
        </trim>
        where team_id=#{teamId}
    </update>
</mapper>